@using MiniProject.Extensions;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hey You!</h1>
    <p class="lead">Yeah I'm talking to you! What do you think you are doing here? </p>
    <p><a href="https://www.youtube.com/watch?v=E4CBjFI6Gzg" class="btn btn-primary btn-lg">Bada Bing! &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-6">
        <h2>Get Ya self a Login!</h2>
        <p><a class="btn btn-default" href="~/Account/Register">Register  &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Well why dont you just go and eff ya self!</h2>
        
        <p><a class="btn btn-default" href="~/Home/Generate"> F U &raquo;</a></p>
    </div>
</div>